%h1 Tastes
%br
= form_for @user do |f|
  - @tastes.each do |taste|
    = check_box_tag 'user[taste_ids][]', taste.id, @user.tastes.include?(taste) 
    %p3= taste.flavor
    %p3= taste.style
    %br
  = f.submit "Add Tastes", class: 'btn btn-success btn-block'

/ - white_tastes.each do |taste|
/     = check_box_tag 'wine[taste_ids][]', taste.id, @wine.tastes.include?(taste) 
/     = taste.flavor
/     = taste.style
