
.sessions.text-center
  .well.dropped

    %p.lead
      Sign into
      %br/
      %b WineCrush

    = form_for resource, as: resource_name, url: session_path( resource_name ), html: { role: :form } do |f|

      .form-group
        =# f.label :email
        = f.email_field :email, required: true, autofocus: true, placeholder: 'Email address', class: 'input-lg'

      .form-group
        = #f.label :password
        = f.password_field :password, required: true, placeholder: 'Password', class: 'input-lg'

      - if devise_mapping.rememberable?
        .checkbox
          %label
            = f.check_box :remember_me
            Remember me on this computer

      .actions
        = f.submit "Sign in", class: 'btn btn-success'
  %br/
  %p= render "devise/shared/links"




  