%h1 Restaurant Wines
= @menu.name
%br
=@wines.inspect
- @wines.each do |wine|
  = link_to "#{wine.vintage} #{wine.country} #{wine.region} #{wine.purveyor} #{wine.grape} #{wine.style} #{wine.btg} #{wine.btb}", wine_path(wine)
  %br
%br
%br
= link_to "Recommendations", wines_recommendations_path, class: 'btn btn-success'

