%br
%br
%p3= link_to "#{wine.vintage}", wine_path(wine)
%p3= link_to "#{wine.country}", wine_path(wine)
%p3= link_to "#{wine.region}", wine_path(wine)
%br
%p3= link_to "#{wine.purveyor}", wine_path(wine)
%br
%p3= link_to "#{wine.grape}", wine_path(wine)
%br
%p3= link_to "#{wine.style}", wine_path(wine)
%br
%p3= link_to "#{wine.btg}", wine_path(wine)
%br
%p3= link_to "#{wine.btb}", wine_path(wine)