%h1 Wine Index
- wines.each do |wine|
  = link_to "#{wine.vintage} #{wine.country} #{wine.region} #{wine.purveyor} #{wine.grape} #{wine.style} #{wine.btg} #{wine.btb}"
  = link_to "Edit", edit_menu_wine_path(@menu, wine), class: 'btn btn-xs btn-warning'
  = link_to "Delete", menu_wine_path(@menu, wine), method: :delete, class: 'btn btn-xs btn-danger'
