%h1 Wine
%br
= image_tag @wine.image_url.to_s
%br
= @wine.vintage
%br
= @wine.country
%br
= @wine.region
%br
= @wine.purveyor
%br
= @wine.grape
%br
= @wine.style
%br
= @wine.btg
%br
= @wine.btb
%br 
%br
-@wine.comments.each do |comment|
  -if comment.content
    = comment.email
    %br
    = comment.content
    = link_to "Delete", delete_comment_wine_path(@wine, comment_id: comment.id), method: :delete
    %br
    %br
%br
= form_for [@wine, @comment], url: create_comment_wine_path(@wine) do |f|
  = f.text_area :content, class: 'form-control focusedInput', placeholder: 'Add Comment Here...'
  %br
  = f.submit