%h1 Wine
%br
%p2= image_tag @wine.avatar.url(:medium)
%br
%p2= @wine.vintage
%p2= @wine.country
%p2= @wine.region
%br
%p2= @wine.purveyor
%br
%p2= @wine.grape
%br
%p2= @wine.style
%br
%p2= @wine.btg
%br
%p2= @wine.btb
%br 
%br
-@wine.comments.each do |comment|
  -if comment.content
    %p3= comment.email
    %br
    %p3= comment.content
    = link_to "Delete", delete_comment_wine_path(@wine, comment_id: comment.id), method: :delete, class: 'btn btn-xs btn-danger'
    %br
    %br
%br
= form_for [@wine, @comment], url: create_comment_wine_path(@wine) do |f|
  = f.text_area :content, class: 'form-control focusedInput', placeholder: 'Add Comment Here...'
  %br
  = f.submit class: 'btn btn-success'
/