!!!
%html
  %head
    %title WineCrush
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    %body
  .wrapper
    .box
      .row.row-offcanvas.row-offcanvas-left
        / sidebar
        #sidebar.column.col-sm-2.col-xs-1.sidebar-offcanvas
          %ul.nav
            %li
              %a.visible-xs.text-center{"data-toggle" => "offcanvas", :href => "#"}
                %i.glyphicon.glyphicon-chevron-right
          %ul#lg-menu.nav.hidden-xs
            %li.active
              %a{:href => restaurants_index_path}
                %i.glyphicon.glyphicon-cutlery
                Restaurants
            %li
              %a{:href => wines_path}
                %i.glyphicon.glyphicon-glass
                MyWines
            %li
              %a{:href => tastes_path}
                %i.glyphicon.glyphicon-heart-empty
                Tastes
            %li
              %a{:href => "#"}
                %i.glyphicon.glyphicon-refresh
                Refresh
          %ul#sidebar-footer.list-unstyled.hidden-xs
            %li
              %a{:href => "http://www.bootply.com"}
                %h3                 
          / tiny only nav
          %ul#xs-menu.nav.visible-xs
            %li
              %a.text-center{:href => "#featured"}
                %i.glyphicon.glyphicon-list-alt
            %li
              %a.text-center{:href => "#stories"}
                %i.glyphicon.glyphicon-list
            %li
              %a.text-center{:href => "#"}
                %i.glyphicon.glyphicon-paperclip
            %li
              %a.text-center{:href => "#"}
                %i.glyphicon.glyphicon-refresh
        / /sidebar
        / main right col
        #main.column.col-sm-10.col-xs-11
          / top nav
          .navbar.navbar-blue.navbar-static-top
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand.logo{:href => root_path} W
            %nav.collapse.navbar-collapse{:role => "navigation"}
              %form.navbar-form.navbar-left
                .input-group.input-group-sm{:style => "max-width:360px;"}
              %ul.nav.navbar-nav
                %li
                  %a{:href => home_path}
                    %i.glyphicon.glyphicon-home
                    Home
                %li
                  %a{:href => new_wine_path(@users, menuable_type: "User", menuable_id: current_user.id), :role => "button"}
                    %i.glyphicon.glyphicon-plus
                    Add Wine
                %li
              %ul.nav.navbar-nav.navbar-right
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %i.glyphicon.glyphicon-user
                  %ul.dropdown-menu
                    %li
                      %a{:href => destroy_user_session_path } Sign Out
                    %li
                      %a{:href => edit_user_registration_path} Edit Profile
          / /top nav
          .padding
            .full.col-sm-9
              / content
              = yield